﻿@model TestTravelApp.Models.Book

@{
    ViewData["Title"] = "Delete";
}


<h1>Eliminar Registro</h1>

<h3>¿Estás segura de que quieres eliminar esto?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumbers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageNumbers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial.Campus)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Isbn" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Volver</a>
    </form>
</div>
