﻿@model TestTravelApp.Models.Views.BookView

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Libro</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Isbn" />
            <input type="hidden" asp-for="AuthorHasBookId" />
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditorialId" class="control-label"></label>
                <select asp-for="EditorialId" class="form-control" asp-items="ViewBag.EditorialId"></select>
                <span asp-validation-for="EditorialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <textarea rows="3" asp-for="Sinopsis" class="form-control"></textarea>
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageNumbers" class="control-label"></label>
                <input asp-for="PageNumbers" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g,'')" />
                <span asp-validation-for="PageNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
