﻿@model IEnumerable<TestTravelApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de libros</h1>

@if (TempData["message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade  show" role="alert">
        @TempData["message"]

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Libro</a>
</p>

<div class="row">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PageNumbers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Editorial)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageNumbers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Editorial.Name)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Isbn" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Isbn" class="btn btn-info">Detalle</a>
                            <a asp-action="Delete" asp-route-id="@item.Isbn" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No existen Autores registrados</h2>
    }
</div>
