﻿@model TestTravelApp.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Autor</h1>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-danger">Volver</a>


</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>



<hr />
<div class="row">
    @if (Model.AuthorHasBooks != null && Model.AuthorHasBooks.Count() > 0)
    {
        <h3>Libros publicados</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorHasBooks.FirstOrDefault().Book.Isbn)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.AuthorHasBooks.FirstOrDefault().Book.Title)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorHasBooks.FirstOrDefault().Book.PageNumbers)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AuthorHasBooks)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.PageNumbers)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-controller="Books" asp-route-id="@item.Book.Isbn" class="btn btn-warning ">Editar</a>
                        <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Book.Isbn" class="btn btn-info">Detalle</a>
                        <a asp-action="Delete" asp-controller="Books" asp-route-id="@item.Book.Isbn" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>El autor aun no ha publicado libros</h2>
    }
</div>
