﻿@model TestTravelApp.Models.Editorial

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la editorial</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Volver</a>

</div>

<div style="margin-top:15px">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
    </dl>
</div>

<hr/>
<div class="row">
    @if (Model.Books != null && Model.Books.Count() > 0)
    {
        <h3>Libros publicados</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().PageNumbers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Editorial)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageNumbers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Editorial.Name)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-controller="Books" asp-route-id="@item.Isbn" class="btn btn-warning ">Editar</a>
                            <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Isbn" class="btn btn-info">Detalle</a>
                            <a asp-action="Delete" asp-controller="Books" asp-route-id="@item.Isbn" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No existen Libros publicados en esta editorial</h2>
    }
</div>
